body {
  font-size: 100%;
}

a {
  text-decoration: none;
}

.button {
  background-color: rgb(0, 122, 204);
  border:1px solid  rgb(0, 122, 204);
  border-radius:5px;
  color:#fff;
  margin-right:10px;
  padding:5px 10px ;
  font-size: 1.1em;
}

.delete {
  background-color: red;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}
.site_name {
  background-color: black;
  color: white;
  height: 150px;
  font-size: 2.5em;
  padding-top: 20px;
  padding-left: 15px;
  position: fixed;
  top: 0px;
  width: 945px;
}

.footer {
  background-color: black;
  color: white;
  height: 50px;
  font-size: .9em;
  padding-top: 0px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 945px;
}

.content {
  position: fixed;
  top: 180px;
  width: 960px;
}

.landing {
  margin-top: 20px;
}

.signup {
  width: 400px;

}

.landing_pic {
  padding-top: 5px;
}

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

.show_nav {
  position: fixed;
  bottom: 70px;
}

.album_button {
  position: fixed;
  bottom: 20px;
}
.album_card {
  width: 200px;
  height: 400px;
  margin-right: 15px;
  display: inline;
  float: left;
}

.release_details {
  width: 400px;
  display: inline;
  float: left;
  margin-right: 15px;
}

.title {
  margin: 0px;
  font-weight: bold;
  font-size: 1.8em;
}

.artist {
  margin: 5px 0;
  font-size: 1.5em;
}

.description {
  margin: 5px 0 10px 0;
  font-size: 1em;
}