<br>
<form method="post" action="/login">
  <label>Username</label><br>
    <input type="text" id="username" name= "username" ><br><br>
  <label>Password</label><br>
    <input type="password" id="password" name= "password" ><br><br>
  <input class="button" type="submit" id="submit" value="Login">
</form>
