<h1><%= @release.title %> by <%= @release.artist %></h1>
<a class="button" href="/releases/#{<%= @release.id %>}/edit">Edit Release</a>
<form method="post" id="form1" action="/releases/<%= @release.id %>/delete">
  <input type="hidden" name="_method" value="delete" />
</form>
<button type="submit" form="form1">Delete Release</button>