<h1>Create a New Release</h1>
<br>
<form method="post" action="/releases/">
  <label>Title</label>
  <input type="text" id="title" name="title">
  <label>Artist</label>
  <input type="text" id="artist" name="artist"> 
  <label>Label</label>
  <input type="text" id="label" name="label">
  <label>Genre</label>
  <input type="text" id="Genre" name="Genre">
  <label>Release Year</label>
  <input type="text" id="release_year" name="release_year">
  <input type="submit" value="Create">
</form>