<h1>Create a New Release</h1>
<br>
<form method="post" action="/releases">
  <label>Title</label>
  <input type="text" id="title" name="title"><br><br>
  <label>Artist</label>
  <input type="text" id="artist" name="artist"><br><br>
  <input type="submit" value="Create">
</form>