<h1>Create a New Release</h1>
<br>
<form method="post" action="/releases">
  <label>Title</label>
  <input type="text" id="title" name="title"><br><br>
  <label>Artist</label>
  <input type="text" id="artist" name="artist"><br><br>
  <label>Label</label>
  <input type="text" id="label" name="label"> <br><br>
  <label>Genre</label>
  <input type="text" id="Genre" name="Genre"><br><br>
  <label>Release Year</label>
  <input type="text" id="release_year" name="release_year"><br><br>
  <input type="submit" value="Create">
</form>