<br>
<form method="post" action="/releases">
  <label>Title</label><br>
  <input type="text" id="title" name="title"><br><br>
  <label>Artist</label><br>
  <input type="text" id="artist" name="artist"><br><br>
  <label>Description</label><br>
  <input type="textarea" id="description" name="description"><br><br>
  <input class="button" type="submit" value="Add to Collection">
</form>
