<% @user.releases.each do |release| %>
  <%= release.title %> <%= release.id %><br>
  -<%= release.artist %><br><br>
<% end %>
<a class="button" href="/releases/new">Add a New Release</a>
<br>
<a href="/logout">Logout</a>
