<ul>
<% @user.releases.each do |release| %>
  <a href="/releases/<%= release.id %>><%= release.title %></a><br>
  -<%= release.artist %><br><br>
<% end %>
</ul>
<a class="button" href="/releases/new">Add a New Release</a>
<br>
<a href="/logout">Logout</a>
