<% @user.releases.each do |release| %>
  <h2><%= release.title %></h2>
  <h3><%= release.artist %></h3>
  <h3><%= release.title %></h3>
  <ul>
    <% release.tracks.each do |track| %>
      <li><%= track.title %></li>
    <% end %>
  </ul>
<% end %>
<a class="button" href="/releases/new">Add a New Release</a>
<br>
<a href="/logout">Logout</a>
