<img class= "landing_pic" src="http://crookedmanners.com/wp-content/uploads/2015/09/Feature12.jpg">
<div class="landing">
<a class="button" href="/signup">Sign Up</a>
<a class="button" href="/login">Login</a>
</div>