<!doctype html>
<html>
  <head>
    <title>Essential Albums</title>
  </head>
  <body>
    <h1>Essential Albums</h1>
    <%= yield %> 

  </body>
  <footer>
    <p>@ Footer message here</p>
  </footer>
</html>
