<!doctype html>
<html>
  <head>
    <title>Essential Albums</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="site_name">
      <h1>Essential Albums</h1>
    </div>
    <%= yield %> 

  </body>
  <footer>
    <p>@ Footer message here</p>
  </footer>
</html>
